body{
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.navbar{
    padding: 1rem;
}

.logo{
    margin-left: 10%;
    width: 30%;
}

.navbar-nav a{
    color: white;
    font-size: 1rem;
    margin-right: 3rem;
}

.navbar-nav:hover a{
    color: white;
}

.login-form-wrapper{
    margin: 5rem auto;
    width: 35vw;
}

.login-form{
    background-color: #f2f2f2;
    border-radius: 1rem;
    padding: 2rem;
    width: 35vw;
    box-shadow: 5px 5px 12px 0 #9d9b9b;
}

.input-group-text{
    background-color: white;
}

.form-input{
    width: 60%;
}

.login-form-btn{
    padding: 0.5rem 4rem;
    border-radius: 8px;
}

.action-link a{
    margin-top: 1rem;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.footer-1{
    background-image: linear-gradient(to top left, #a7d5c8,#169b7c);
}

.nav-item a{
    color: white;
}

.nav-item:hover a{
    color: white;
}

.footer-link a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.footer-link:hover a{
    color: black;
}

.footer-icon-logo{
    width: 10rem;
    cursor: pointer;
}