body{
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 33%;
}

.logo{
    width: 30%;
}

.navbar-nav a{
    color: white;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.navbar-nav:hover a{
    color: white;
}

.container{
    margin-top: 5rem;
    padding: 2rem;
    background-color: #F2F2F2;
    width: 50vw;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.text-label{
    font-size: 1.5rem;
    font-weight: bold;
}

.form-input{
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
}

.custom-file-upload {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    border: 2px solid #6c757d;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 1rem;
    width: 10vw;
}

.custom-file-upload:hover {
    background-color: #f8f9fa;
}

.hidden-input {
    display: none;
}

.footer{
    margin-top: 5rem;
}

.footer-1{
    background-image: linear-gradient(to top left, #a7d5c8,#169b7c);
}

.nav-item a{
    color: white;
}

.nav-item:hover a{
    color: white;
}

.footer-link a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.footer-link:hover a{
    color: black;
}

.footer-icon-logo{
    width: 10rem;
    cursor: pointer;
}