body{
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 33%;
}

.navbar{
    padding: 1rem;
}

.logo{
    margin-left: 10%;
    width: 30%;
}

.navbar-gap{
    gap: 2rem;
}

.navbar-nav a{
    color: white;
    font-size: 1.5rem;
}

.navbar-nav:hover a{
    color: white;
}

.register-form-wrapper{
    margin: 5rem auto;
    width: 50vw;
}

.register-form{
    padding: 2rem;
    background-color: #F2F2F2;
    width: 50vw;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

.text-label{
    font-size: 1rem;
}

.select-form{
    background-color: white;
    color: #6c757d;
}

.form-input{
    box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 5%); 
    /* rgba(0, 0, 0, 0.5) */
}

.custom-file-upload {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0 #9d9b9b;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 0.8rem;
    width: 10rem;
}

.custom-file-upload:hover {
    background-color: #f8f9fa;
}

.hidden-input {
    display: none;
}

.footer{
    margin-top: 5rem;
}

.footer-1{
    background-image: linear-gradient(to top left, #a7d5c8,#169b7c);
}

.nav-item a{
    color: white;
}

.nav-item:hover a{
    color: white;
}

.footer-link a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.footer-link:hover a{
    color: black;
}

.footer-icon-logo{
    width: 10rem;
    cursor: pointer;
}