body{
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100vw 80vh; */
    background-size: 100% 100%;
}

/* .navbar{
    padding: 1rem;
} */

.logo{
    width: 30%;
}

.navbar-nav a{
    color: white;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.navbar-nav:hover a{
    color: white;
}

.container{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 40vw;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.6);
}

.input-group-text{
    background-color: white;
}

.form-input{
    width: 60%;
}

.action-link a{
    margin: 0 6rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.footer-1{
    background-image: linear-gradient(to top left, #a7d5c8,#169b7c);
}

.nav-item a{
    color: white;
}

.nav-item:hover a{
    color: white;
}